option:
  input: 0 # x褫入方式
  translate: 0 # x穹g API
  output: 0 # x褫出方式
  duration: 1 # x取入的rgg隔

input: # 入方式配置
  - # 0: 剪N板
    name: clipboard

translate: # 翻g API 配置
  - # 0: 百度翻译开放平台
    name: baidu_translate
    appid:
    key:
    from: auto # 翻g源Z言
    to: zh # 翻g目苏Z言

  - # 1: 百度智能云 - 机器翻译 - 文本翻译-通用版
    name: baidubce
    access_token:
    api_key: # access_token 不空r⒈缓雎
    secret_key: # access_token 不空r⒈缓雎
    from: auto # 翻g源Z言; 默J: auto
    to: zh # 翻g目苏Z言; 默J: zh

output: # 出方式配置
  - # 0: 控制_
    name: console

  - # 1: UDP 服掌
    name: udp_server
    host: # 服掌鞯刂
    port: # UDP 服掌鞫丝
